<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">首页</a></li>
  <li class="{% if page.url contains '/infovis/' %} active {% endif %}"><a href="{{ "/infovis/" | absolute_url }}">信息可视化作品集</a></li>
  <li class="{% if page.url contains '/_posts/' %} active {% endif %}"><a href="{{ "/_posts/" | absolute_url }}">文章</a></li>
  <li class="{% if page.url contains '/portfolio/' %} active {% endif %}"><a href="{{ "/portfolio/" | absolute_url }}">WEB作品集</a></li>
</ul>
